spring:
  application:
    name: newshub

  datasource:
    url: ${db_url}
    username: ${db_username}
    password: ${db_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

newshub:
  security:
    secret: ${secret_key}
    expiration: 86400000

  newsapi:
    key: ${secret_key_api}
    base-url: https://newsapi.org/v2

server:
  port: 8081
